<div class="feed-menu">
    <% feed_menu = env.get("preferences").as(Preferences).feed_menu.dup %>
    <% if !env.get?("user") %>
        <% feed_menu.reject! {|item| {"Subscriptions", "Playlists", "Watch history", "Discover"}.includes? item} %>
    <% end %>
    <% feed_menu_paths = {
        "Popular"       => "/feed/popular",
        "Trending"      => "/feed/trending",
        "Subscriptions" => "/feed/subscriptions",
        "Playlists"     => "/feed/playlists",
        "Watch history" => "/feed/history",
        "Discover"      => "/feed/discover",
    } %>
    <% current_path = env.request.path %>
    <% feed_menu.each do |feed| %>
        <% feed_path = feed_menu_paths[feed]? || "/feed/#{feed.downcase}" %>
        <a href="<%= feed_path %>" class="feed-menu-item pure-menu-heading<% if current_path == feed_path %> selected<% end %>">
            <%= I18n.translate(locale, feed) %>
        </a>
    <% end %>
</div>
